{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div class="admin-sagra-add">
    <div class="admin-sagra-add__container-title">
        <h2 class="h2">Admin Sagre Add</h2>
    </div>
    <div>
        <form method="POST">
            <div class="admin-sagra-add__form-wrapper">
                <div>
                    <input class="input-text" type="text" name="sagra-title" placeholder="Title*" required />
                    <span class="input-error">{{ .TitleError }}</span>
                </div>
                <div>
                    <input class="input-text" type="text" name="sagra-description" placeholder="Description*" required />
                    <span class="input-error">{{ .DescriptionError }}</span>
                </div>
                <div>
                    <input class="input-text" type="text" name="sagra-url" placeholder="Url*" required />
                    <span class="input-error">{{ .UrlError }}</span>
                </div>
                <div>
                    <input class="input-date" type="datetime-local" name="sagra-published" required />
                    <span class="input-error">{{ .PublishedError }}</span>
                </div>
                <div>
                    <input class="input-date" type="datetime-local" name="sagra-updated" required />
                    <span class="input-error">{{ .UpdatedError }}</span>
                </div>
                <div>
                    <select class="input-select" name="sagra-image">
                        {{ if .Images }}
                            {{ range .Images }}
                                <option value="{{ .Url }}">{{ .Url }}</option>
                            {{ end }}
                        {{ else }}
                                <option value="no-image-found">No image found</option>
                        {{ end }}
                    </select>
                    <span class="input-error">{{ .ImageError }}</span>
                </div>
                <div>
                    <select class="input-select" name="sagra-author">
                        {{ if .Authors }}
                            {{ range .Authors }}
                                <option value="{{ .Url }}">{{ .Url }}</option>
                            {{ end }}
                        {{ else }}
                                <option value="no-image-found">No author found</option>
                        {{ end }}
                    </select>
                    <span class="input-error">{{ .AuthorError }}</span>
                </div>
                <div>
                    <textarea class="admin-sagra-add__form-text-area input-textarea" name="sagra-content"></textarea>
                    <span class="input-error">{{ .ContentError }}</span>
                </div>
                <div>
                    <input class="input-text" type="text" name="sagra-country" placeholder="Country*" required />
                    <span class="input-error">{{ .CountryError }}</span>
                </div>
                <div>
                    <input class="input-text" type="text" name="sagra-region" placeholder="Region*" required />
                    <span class="input-error">{{ .RegioneError }}</span>
                </div>
                <div>
                    <input class="input-text" type="text" name="sagra-city" placeholder="City*" required />
                    <span class="input-error">{{ .CityError }}</span>
                </div>
                <div>
                    <input class="input-text" type="text" name="sagra-town" placeholder="Town*" required />
                    <span class="input-error">{{ .TownError }}</span>
                </div>
                <div>
                    <input class="input-text" type="text" name="sagra-fraction" placeholder="Fraction*" required />
                    <span class="input-error">{{ .FractionError }}</span>
                </div>
                <div>
                    <input class="input-date" type="datetime-local" name="sagra-start-date" required />
                    <span class="input-error">{{ .SagraStartDateError }}</span>
                </div>
                <div>
                    <input class="input-date" type="datetime-local" name="sagra-end-date" required />
                    <span class="input-error">{{ .SagraStartDateError }}</span>
                </div>
                <div>
                    <input class="input-submit" type="submit" name="sagra-add" value="Add new sagra" />
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}