{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div class="admin-page-edit">
    <div class="admin-page-edit__container-title">
        <h2 class="h2">Admin Sagre Edit</h2>
    </div>
    {{ if .SagraWithRelatedFields }}
        <div class="admin-page-edit__container-data">
            <p class="p-xl">ID: {{ .SagraWithRelatedFields.Id }}</p>
            <p class="p-xl">{{ .SagraWithRelatedFields.Title }}</p>
            <p class="p-xl">{{ .SagraWithRelatedFields.Description }}</p>
        </div>
        <div>
            <form method="POST">
                <div class="admin-page-edit__form-wrapper">
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-title" value="{{ .SagraWithRelatedFields.Title }}" placeholder="Title*" required />
                        <span class="input-error">{{ .TitleError }}</span>
                    </div>
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-description" value="{{ .SagraWithRelatedFields.Description }}" placeholder="Description*" required />
                        <span class="input-error">{{ .DescriptionError }}</span>
                    </div>
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-url" value="{{ .SagraWithRelatedFields.Url }}" placeholder="Url*" required />
                        <span class="input-error">{{ .UrlError }}</span>
                    </div>
                    <div>
                        <input class="input-date" type="datetime-local" name="sagra-edit-published" value="{{ .SagraWithRelatedFields.Published }}" required />
                        <span class="input-error">{{ .PublishedError }}</span>
                    </div>
                    <div>
                        <input class="input-date" type="datetime-local" name="sagra-edit-updated"  value="{{ .SagraWithRelatedFields.Updated }}" required />
                        <span class="input-error">{{ .UpdatedError }}</span>
                    </div>
                    <div>
                        <select class="input-select" name="sagra-edit-image">
                            {{ if .Images }}
                                <option value="{{ .SagraWithRelatedFields.ImageUrl }}" selected="selected">{{ .SagraWithRelatedFields.ImageUrl }}</option>
                                {{ range .Images }}
                                    <option value="{{ .Url }}">{{ .Url }}</option>
                                {{ end }}
                            {{ else }}
                                    <option value="no-image-found">No image found</option>
                            {{ end }}
                        </select>
                        <span class="input-error">{{ .ImageError }}</span>
                    </div>
                    <div>
                        <select class="input-select" name="sagra-edit-author">
                            {{ if .Authors }}
                                <option value="{{ .SagraWithRelatedFields.AuthorUrl }}" selected="selected">{{ .SagraWithRelatedFields.AuthorUrl }}</option>
                                {{ range .Authors }}
                                    <option value="{{ .Url }}">{{ .Url }}</option>
                                {{ end }}
                            {{ else }}
                                    <option value="no-image-found">No author found</option>
                            {{ end }}
                        </select>
                        <span class="input-error">{{ .AuthorError }}</span>
                    </div>
                    <div>
                        <textarea class="admin-sagra-add__form-text-area input-textarea" name="sagra-edit-content">{{.SagraWithRelatedFields.Content}}</textarea>
                        <span class="input-error">{{ .ContentError }}</span>
                    </div>
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-country" value="{{ .SagraWithRelatedFields.Country }}" placeholder="Country*" required />
                        <span class="input-error">{{ .CountryError }}</span>
                    </div>
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-region" value="{{ .SagraWithRelatedFields.Region }}" placeholder="Region*" required />
                        <span class="input-error">{{ .RegioneError }}</span>
                    </div>
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-city" value="{{ .SagraWithRelatedFields.City }}" placeholder="City*" required />
                        <span class="input-error">{{ .CityError }}</span>
                    </div>
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-town" value="{{ .SagraWithRelatedFields.Town }}" placeholder="Town*" required />
                        <span class="input-error">{{ .TownError }}</span>
                    </div>
                    <div>
                        <input class="input-text" type="text" name="sagra-edit-fraction" value="{{ .SagraWithRelatedFields.Fraction }}" placeholder="Fraction*" required />
                        <span class="input-error">{{ .FractionError }}</span>
                    </div>
                    <div>
                        <input class="input-date" type="datetime-local" name="sagra-edit-start-date" value="{{ .SagraWithRelatedFields.SagraStartDate }}" required />
                        <span class="input-error">{{ .SagraStartDateError }}</span>
                    </div>
                    <div>
                        <input class="input-date" type="datetime-local" name="sagra-edit-end-date" value="{{ .SagraWithRelatedFields.SagraEndDate }}" required />
                        <span class="input-error">{{ .SagraEndDateError }}</span>
                    </div>
                    <div>
                        <input class="input-submit" type="submit" name="sagra-edit" value="Edit this sagra" />
                    </div>
                    <div>
                        <input class="input-submit" type="submit" name="sagra-edit-and-exit" value="Edit this sagra and exit" />
                    </div>
                </div>
            </form>
        </div>
    {{ end }}
</div>
{{end}}