{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div class="admin-event-delete">
    <div class="admin-event-delete__container-title">
        <h2 class="h2">Admin Event Delete</h2>
    </div>
    {{ if .EventWithRelatedFields }}
        <div class="admin-event-delete__container-data">
            <p class="p-xl">ID: {{ .EventWithRelatedFields.Id }}</p>
            <p class="p-xl">{{ .EventWithRelatedFields.Title }}</p>
            <p class="p-xl">{{ .EventWithRelatedFields.Description }}</p>
            <h4 class="h4">Do you want to delete this event?</h4>
        </div>
        <div class="admin-event-delete__container-form">
            <form method="POST">
                <input class="input-submit" type="submit" name="admin-event-delete" value="Delete this event" />
            </form>
        </div>
        <div>
            <p class="p-xl"><a class="link" href="/admin/admin-events/1">Come back to all events</a></p>
        </div>
    {{ else }}
        <div>
            <h4 class="h4">Event no found</h4>
        </div>
    {{ end }}
</div>
{{end}}