{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div>
    <h2>Admin Sagra Delete</h2>
    {{ if .SagraWithRelatedImage }}
        <p>Sagra ID: {{ .SagraWithRelatedImage.Id }}</p>
        <p>Sagra Title: {{ .SagraWithRelatedImage.Title }}</p>
        <h4>Do you want to delete this sagra?</h4>
        <form method="POST">
            <input type="submit" name="admin-sagra-delete" value="Delete this sagra" />
        </form>
        <a href="/admin/sagre">Come back to all sagre</a>
    {{ else }}
        <h4>Sagra no found</h4>
    {{ end }}
</div>
{{end}}