{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div class="admin-image-delete">
    <div class="admin-image-delete__container-title">
        <h2 class="h2">Admin Image Delete</h2>
    </div>
    {{ if .Image }}
        <div class="admin-image-delete__container-data">
            <p class="p-xl">ID: {{ .Image.Id }}</p>
            <p class="p-xl">{{ .Image.Title }}</p>
            <p class="p-xl">{{ .Image.Description }}</p>
            <p class="p-xl">{{ .Image.Url }}</p>
            <h4 class="h4">Do you want to delete this image?</h4>
        </div>
        <div class="admin-image-delete__container-form">
            <form method="POST">
                <input type="hidden" name="admin-delete-image-url" value="{{ .Image.Url }}" />
                <input class="input-submit" type="submit" name="admin-delete-image" value="Delete this image" />
            </form>
        </div>
        <div>
            <p class="p-xl"><a class="link" href="/admin/admin-images/1">Come back to all images</a></p>
        </div>
    {{ else }}
        <div>
            <h4 class="h4">Image no found</h4>
        </div>
    {{ end }}
</div>
{{end}}