<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="/public/css/main.css">
    <title>{{ .PageTitle }}</title>
</head>
<body>
    <div class="admin-login">
        <div class="admin-login__wrapper">
            <form class="admin-login__form" method="POST">
                <div class="admin-login__form-container-input">
                    <input class="input-text" type="text" name="admin-user-email" />
                    <p class="p input-error">{{ .EmailValidation }}</p>
                </div>
                <div class="admin-login__form-container-input">
                    <input class="input-text" type="password" name="admin-user-password" />
                    <p class="p input-error">{{ .PasswordValidation }}</p>
                </div>
                <div class="admin-login__form-container-input">
                    <input class="input-submit" type="submit" name="admin-user-login" value="Login" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>