{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div class="admin-page">
    <div class="admin-page__container-title">
        <h2 class="h2">Admin Sagre</h2>
    </div>
    {{ if .SagreWithRelatedFields }}
        {{ range .SagreWithRelatedFields }}
            <div class="admin-page__container-event">
                <div>
                    <h1 class="h1">{{ .Title }}</h1>
                    <h2 class="h2">{{ .Description }}</h2>
                    <p class="p">ID: {{ .Id }}</p>
                    <p class="p">Published: {{ .Published }}</p>
                    <p class="p">Updated: {{ .Updated }}</p>
                </div>
                <div>
                    <img src="/public/images/{{ .ImageUrl }}" alt="{{ .ImageAlt }}" width="150" height="150">
                </div>
                <div>
                    <p class="p-xl"><a class="link" href="/admin/admin-sagra-edit/{{ .Id }}">Edit</a></p>
                    <p class="p-xl"><a class="link" href="/admin/admin-sagra-delete/{{ .Id }}">Delete</a></p>
                </div>
            </div>
        {{ end }}
    {{ else }}
        <h4 class="h4">No sagre found</h4>
    {{ end }}
    <div class="admin-page__container-buttons">
        {{ if .PreviusButton }}<a class="button" href="/admin/admin-sagre/{{ .PreviousPage }}">Previous</a>{{ end }}
        {{ if .NextButton }}<a class="button" href="/admin/admin-sagre/{{ .NextPage }}">Next</a>{{ end }}
    </div>
</div>
{{end}}