{{template "baseAdmin" .}}

{{define "title"}}Admin Dashboard{{end}}

{{define "adminContent"}}
<div class="admin-dashboard">
    <h2 class="h2">Admin Dashboard content</h2>
</div>
<div>
    <div class="admin-dashboard__container-line"></div>
    <h2 class="h2">Sagre during the year</h2>
    <h4 class="h4">September</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Sagra della Castagna</li>
        <li class="list-item">Sagra della Zucca</li>
        <li class="list-item">Sagra del Tartufo</li>
        <li class="list-item">Autunno in Barbagia</li>
    </ul>
    <h4 class="h4">October</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Sagra della Castagna</li>
        <li class="list-item">Sagra della Zucca</li>
        <li class="list-item">Sagra del Tartufo</li>
        <li class="list-item">Autunno in Barbagia</li>
    </ul>
    <h4 class="h4">November</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Sagra del Tartufo</li>
        <li class="list-item">Autunno in Barbagia</li>
    </ul>
    <h4 class="h4">December</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Sagra del Tartufo</li>
        <li class="list-item">Autunno in Barbagia</li>
    </ul>
    <div class="admin-dashboard__container-line"></div>
    <h2 class="h2">Events during the year</h2>
    <h4 class="h4">January</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Carnevale</li>
    </ul>
    <h4 class="h4">February</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Carnevale</li>
        <li class="list-item">Campi di lavanda</li>
    </ul>
    <h4 class="h4">October</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Mercatini di Natale</li>
    </ul>
    <h4 class="h4">November</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Mercatini di Natale</li>
    </ul>
    <h4 class="h4">December</h4>
    <ul class="list-ul-ol-menu">
        <li class="list-item">Mercatini di Natale</li>
    </ul>
</div>
{{end}}