{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div class="admin-page-delete">
    <div class="admin-page-delete__container-title">
        <h2 class="h2">Admin Sagra Delete</h2>
    </div>
    {{ if .SagraWithRelatedFields }}
        <div class="admin-page-delete__container-data">
            <p class="p-xl">ID: {{ .SagraWithRelatedFields.Id }}</p>
            <p class="p-xl">{{ .SagraWithRelatedFields.Title }}</p>
            <p class="p-xl">{{ .SagraWithRelatedFields.Description }}</p>
            <h4 class="h4">Do you want to delete this sagra?</h4>
        </div>
        <div class="admin-page-delete__container-form">
            <form method="POST">
                <input class="input-submit" type="submit" name="admin-sagra-delete" value="Delete this sagra" />
            </form>
        </div>
        <div>
            <p class="p-xl"><a class="link" href="/admin/admin-sagre/1">Come back to all sagre</a></p>
        </div>
    {{ else }}
        <div>
            <h4 class="h4">Sagra no found</h4>
        </div>
    {{ end }}
</div>
{{end}}