{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

{{define "adminContent"}}
<div>
    <h2>Admin Sagre</h2>
    {{ if .SagreWithRelatedImage }}
        {{ range .SagreWithRelatedImage }}
            <p>Sagra ID: {{ .Id }}</p>
            <p>Sagra Title: {{ .Title }}</p>
            <img src="/public/images/{{ .ImageUrl }}" alt="{{ .ImageAlt }}" width="100" height="100">
            <a href="/admin/admin-sagra-edit/{{ .Id }}">Edit</a>
            <a href="/admin/admin-sagra-delete/{{ .Id }}">Delete</a>
            <br />
            <br />
            <hr>
        {{ end }}
    {{ else }}
        <h4>No sagre found</h4>
    {{ end }}
</div>
{{end}}