# .env
.env

# Images
public/images/*
!public/images/.gitignore
!public/images/soriano-nel-cimino.webp
!public/images/castagne.webp
!public/images/cesto-di-castagne.webp
!public/images/sapori-d-alpeggio.webp
!public/images/tavola-con-castagne.webp
!public/images/sentiero-in-un-bosco.webp
!public/images/eventi-vicino-a-me-logo.png
!public/images/funghi-porcini.webp
!public/images/boschi-intorno-al-comune-di-zocca-a-modena.webp
!public/images/donna-con-il-tipico-vestito-sardo-a-muravera.webp
!public/images/monti-intorno-avella-procincia-di-avellino-campania.webp
!public/images/caldarroste.webp
!public/images/orgosolo-in-sardegna.webp
!public/images/statua-del-redentore-sul-monte-ortobene-a-nuoro-in-sardegna.webp
!public/images/grappolo-di-uva.webp
!public/images/comune-di-venzone-in-provincia-di-udine.webp
!public/images/festa-del-cappelletto-ferrarese-a-vigarano-pieve.webp
!public/images/castagna-nel-prato.webp
!public/images/caldarroste-sulla-tavola.webp
!public/images/raccolta-castagne-in-autunno.webp
!public/images/castagne-dentro-un-bracere-di-notte.webp
!public/images/caldattoste-alla-sagra-della-castagna.webp
!public/images/caldarroste-cucinate-al-momento-su-un-bracere.webp
!public/images/zucche-di-diverso-colore.webp
!public/images/tartufi-neri.webp
!public/images/tartufi-bianchi.webp
!public/images/pasta-fresca-con-tartufo-bianco-ad-alba.webp
!public/images/tartufi-bianchi-sopra-una-grattugia-di-legno.webp
!public/images/tartufo-fresco-grande-come-una-mano.webp
!public/images/gruppo-di-tartufi-neri-pregiati.webp
!public/images/tartufo-bianco-tagliato-in-due-parti.webp
!public/images/tartufo-affettato-su-un-primo-piatto.webp
!public/images/castagna-sul-terreno-di-un-bosco-in-autunno.webp
!public/images/cioccolato-sciolto-a-bagno-maria.webp
!public/images/comune-di-lettere-in-provincia-di-napoli.webp
!public/images/lampione-con-decorazione-natalizia.webp
!public/images/broccoli-verdi.webp
!public/images/ollolai-in-provincia-di-nuovo-in-sardegna.webp
!public/images/radicchio-rosso-con-noci-su-un-piatto.webp
!public/images/lodine-provincia-di-nuoro-in-sardegna.webp
!public/images/radicchio-rosso-su-piano-da-lavoro-in-cucina.webp

# Node Modules
node_modules