# .env
.env

# Images
public/images/*
!public/images/.gitignore
!public/images/soriano-nel-cimino.webp
!public/images/castagne.webp
!public/images/cesto-di-castagne.webp
!public/images/sapori-d-alpeggio.webp
!public/images/tavola-con-castagne.webp
!public/images/sentiero-in-un-bosco.webp
!public/images/eventi-vicino-a-me-logo.png
!public/images/funghi-porcini.webp
!public/images/boschi-intorno-al-comune-di-zocca-a-modena.webp
!public/images/donna-con-il-tipico-vestito-sardo-a-muravera.webp
!public/images/monti-intorno-avella-procincia-di-avellino-campania.webp
!public/images/caldarroste.webp
!public/images/orgosolo-in-sardegna.webp
!public/images/statua-del-redentore-sul-monte-ortobene-a-nuoro-in-sardegna.webp
!public/images/grappolo-di-uva.webp
!public/images/comune-di-venzone-in-provincia-di-udine.webp
!public/images/festa-del-cappelletto-ferrarese-a-vigarano-pieve.webp
!public/images/castagna-nel-prato.webp

# Node Modules
node_modules