/**
* Create a mixin that works for
* media queries in the following breakpoints:
*           xs
*           sm
*           m
*           l
*           xl
*           xxl
*
* This project follow the logic of responsive-design
*/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
p,
a,
button {
  font-family: system-ui, sans-serif;
}

.button {
  color: #000;
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem;
  transition: all 0.2s;
  border: 2px solid #197278;
  border-radius: 5px;
}
.button:hover {
  box-shadow: 5px 10px #197278;
}

.h1 {
  font-size: 4rem;
}

.h2 {
  font-size: 3.5rem;
}

.h3 {
  font-size: 3rem;
}

.h4 {
  font-size: 2.5rem;
}

.p-xl {
  font-size: 2.3rem;
}

.p-lg {
  font-size: 2rem;
}

.p-md {
  font-size: 1.8rem;
}

.p {
  font-size: 1.6rem;
}

.p-sm {
  font-size: 1.4rem;
}

.input-text {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #197278;
  border-radius: 5px;
}

.input-date {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #197278;
  border-radius: 5px;
}

.input-select {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #197278;
  border-radius: 5px;
}

.input-textarea {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #197278;
  border-radius: 5px;
}

.input-submit {
  color: #000;
  font-size: 2rem;
  text-decoration: none;
  background-color: #fff;
  padding: 1.5rem 2rem;
  transition: all 0.2s;
  border: 2px solid #197278;
  border-radius: 5px;
}
.input-submit:hover {
  box-shadow: 5px 10px #197278;
}

.input-error {
  color: #d00;
}

.link {
  color: #00d;
}

.link-content {
  color: #197278;
  text-decoration: none;
}
.link-content:hover {
  text-decoration: underline;
}

.link-no {
  color: #000;
  text-decoration: none;
}

.link-effect-load {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000;
}
.link-effect-load::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #197278;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link-effect-load:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link-mark {
  display: inline-block;
  position: relative;
}
.link-mark::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #197278;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list-ul-ol-menu {
  margin-top: 1rem;
  margin-left: 3rem;
}

.list-item {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-card {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #197278;
  border-radius: 5px;
}
.article-card__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
  .article-card__wrapper {
    flex-direction: column;
  }
}
.article-card__container-image {
  width: 30%;
  height: 100%;
  background-color: #197278;
}
@media only screen and (max-width: 767px) {
  .article-card__container-image {
    width: 100%;
  }
}
.article-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-card__container-content {
  width: 70%;
  padding: 2rem;
}
@media only screen and (max-width: 767px) {
  .article-card__container-content {
    width: 90%;
  }
}
.article-card__title {
  margin-bottom: 1rem;
}

.author-card {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #197278;
  border-radius: 5px;
}
.author-card__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
  .author-card__wrapper {
    flex-direction: column;
  }
}
.author-card__container-image {
  width: 30%;
  height: 100%;
  background-color: #197278;
}
@media only screen and (max-width: 767px) {
  .author-card__container-image {
    width: 100%;
  }
}
.author-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-card__container-content {
  width: 70%;
  padding: 2rem;
}
@media only screen and (max-width: 767px) {
  .author-card__container-content {
    width: 90%;
  }
}
.author-card__title {
  margin-bottom: 1rem;
}

.breadcrumb {
  padding: 0.5rem;
}
.breadcrumb__menu {
  list-style: none;
  margin-left: 3rem;
}
@media only screen and (max-width: 767px) {
  .breadcrumb__menu {
    margin-left: 1rem;
  }
}
.breadcrumb__menu-list {
  display: inline;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.cookie-banner {
  display: none;
  width: 50%;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fff;
  padding: 5rem 2rem;
  border: 2px solid #197278;
  border-radius: 8px;
}
@media only screen and (max-width: 991px) {
  .cookie-banner {
    width: 70%;
    padding: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .cookie-banner {
    width: 90%;
  }
}
@media only screen and (max-width: 380px) {
  .cookie-banner {
    height: 40rem;
    overflow: scroll;
  }
}
.cookie-banner__container-logo {
  text-align: center;
  margin-bottom: 2rem;
}
.cookie-banner__logo {
  width: 10rem;
}
.cookie-banner__container-content {
  margin-bottom: 2rem;
}
.cookie-banner__container-buttons {
  height: auto;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (max-width: 575px) {
  .cookie-banner__container-buttons {
    flex-direction: column;
  }
}
.cookie-banner__button {
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 2rem;
  background-color: #fff;
}
@media only screen and (max-width: 575px) {
  .cookie-banner__button {
    width: 80%;
  }
}

.admin-page__container-title {
  margin-bottom: 5rem;
}
.admin-page__container-event {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #197278;
  border-radius: 10px;
}
.admin-page__container-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.admin-page-add__container-title {
  margin-bottom: 5rem;
}
.admin-page-add__form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.admin-page-add__form-text-area {
  width: 80%;
  height: auto;
  min-height: 20rem;
}

.admin-page-edit__container-title {
  margin-bottom: 5rem;
}
.admin-page-edit__container-data {
  margin-bottom: 5rem;
}
.admin-page-edit__form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.admin-page-edit__form-text-area {
  width: 80%;
  height: auto;
  min-height: 20rem;
}

.admin-page-delete__container-title {
  margin-bottom: 5rem;
}
.admin-page-delete__container-data {
  margin-bottom: 5rem;
}
.admin-page-delete__container-form {
  margin-bottom: 2rem;
}

.admin-page-search__container-title {
  margin-bottom: 5rem;
}
.admin-page-search__container-form {
  margin-bottom: 5rem;
}
.admin-page-search__form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.admin-page-search__form-text-area {
  width: 80%;
  height: auto;
  min-height: 20rem;
}
.admin-page-search__container-event {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #197278;
  border-radius: 10px;
}

.admin-page-checker__container-title {
  margin-bottom: 5rem;
}
.admin-page-checker__container-event {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #197278;
  border-radius: 10px;
}
.admin-page-checker__container-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

/*
* This container has the rules
* for the html content showed in:
*       1 - sagre
*/
.content__index {
  width: 80%;
  padding: 5rem;
  margin: 5rem auto;
  border: 1px solid #197278;
  border-radius: 8px;
}
@media only screen and (max-width: 767px) {
  .content__index {
    width: auto;
    padding: 5rem 2rem;
  }
}
.content__container-map {
  width: 80%;
  margin: 5rem auto;
}
.content__container-map iframe {
  width: 100%;
}
.content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.content h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.content h4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.content p {
  font-size: 2rem;
  line-height: normal;
}
.content a {
  color: #197278;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content ul, .content ol {
  margin-top: 1rem;
  margin-left: 3rem;
}
.content li {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.content img {
  width: 100%;
  margin: 2rem auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  border-top: 3px solid #197278;
  border-bottom: 3px solid #197278;
}
.footer__container-logo {
  margin-bottom: 2rem;
}
.footer__logo {
  width: 20rem;
}
.footer__container-social {
  text-align: center;
  margin-bottom: 2rem;
}
.footer__social-icon {
  width: 60px;
  height: 60px;
  padding-top: 1rem;
}
.footer__container-content {
  text-align: center;
}
.footer__link-cookie-policy {
  margin-right: 2rem;
}
.footer__link-privacy-policy {
  margin-left: 2rem;
}
.footer__heart {
  font-size: 2rem;
  color: #d00;
}

.header {
  height: auto;
  min-height: 30vh;
  overflow: hidden;
  border-bottom: 3px solid #197278;
}
@media only screen and (max-width: 767px) {
  .header {
    min-height: 50vh;
  }
}
.header__container-title {
  text-align: center;
  margin: 5rem auto;
}
@media only screen and (max-width: 767px) {
  .header__container-title {
    margin: 5rem auto;
  }
}
.header__logo {
  width: 20rem;
  height: 15rem;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main__container-content main__container-sidebar";
}
@media only screen and (max-width: 991px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "main__container-content" "main__container-sidebar";
  }
}
.main__container-content {
  grid-area: main__container-content;
}
.main__container-sidebar {
  grid-area: main__container-sidebar;
  padding: 2rem;
  border-left: 3px solid #197278;
}
@media only screen and (max-width: 991px) {
  .main__container-sidebar {
    border-left: none;
    border-top: 3px solid #197278;
  }
}
.main__container-sidebar-single-menu {
  margin-bottom: 2rem;
  border-bottom: 3px solid #197278;
}
.main__container-sidebar-single-menu--button {
  padding-bottom: 5rem;
}
.main__sidebar-single-menu-wrapper-icon {
  text-align: center;
  padding: 2rem;
}
.main__sidebar-menu-icon {
  width: 80px;
  height: 80px;
}
.main__sidebar-menu-title {
  margin-bottom: 5rem;
}

.nav {
  text-align: center;
  padding: 2rem 0;
  border-top: 3px solid #197278;
  border-bottom: 3px solid #197278;
}
@media only screen and (max-width: 767px) {
  .nav__wrapper {
    display: block;
    position: relative;
    top: 0;
    left: 2%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .nav__wrapper input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .nav__wrapper input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 1px);
  }
}
.nav__input, .nav__span {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .nav__input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
}
@media only screen and (max-width: 767px) {
  .nav input:checked ~ ul {
    transform: none;
  }
}
@media only screen and (max-width: 767px) {
  .nav__span {
    position: relative;
    display: block;
    width: 4rem;
    height: 0.5rem;
    margin-bottom: 5px;
    background: #197278;
    border: 2px solid #197278;
    border-radius: 5px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .nav__span:first-child {
    transform-origin: 0% 0%;
  }
  .nav__span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}
@media only screen and (max-width: 767px) {
  .nav__span--empty {
    border: 2px solid #000;
    background-color: transparent;
  }
}
.nav__menu {
  list-style-type: none;
}
@media only screen and (max-width: 767px) {
  .nav__menu {
    position: absolute;
    width: 90%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    text-align: center;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    border-bottom: 3px solid #197278;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
.nav__menu-item {
  display: inline;
  padding: 1rem;
}
@media only screen and (max-width: 767px) {
  .nav__menu-item {
    display: block;
  }
}

.page {
  padding: 5rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .page {
    padding: 5rem 1rem;
  }
}
.page h1 {
  font-size: 4rem;
  margin-bottom: 5rem;
}
.page h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.page h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.page h4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.page p {
  font-size: 2rem;
  line-height: normal;
  margin-bottom: 2rem;
}
.page a {
  color: #197278;
  text-decoration: none;
}
.page a:hover {
  text-decoration: underline;
}
.page ul, .page ol {
  margin-top: 1rem;
  margin-left: 3rem;
}
.page li {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.admin-dashboard__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "admin-dashboard__main-sidebar admin-dashboard__main-section";
  border-right: 1px solid #197278;
}
.admin-dashboard__main-sidebar {
  grid-area: admin-dashboard__main-sidebar;
  padding: 2rem;
  border-right: 2px solid #197278;
}
.admin-dashboard__main-sidebar-menu {
  list-style: none;
}
.admin-dashboard__main-sidebar-menu-item {
  padding: 1rem;
}
.admin-dashboard__main-sidebar-menu-item-separator {
  width: 80%;
  background-color: #197278;
  padding: 0.1rem;
  margin-bottom: 2rem;
}
.admin-dashboard__main-section {
  grid-area: admin-dashboard__main-section;
  padding: 2rem;
}
.admin-dashboard__container-line {
  background-color: #197278;
  padding: 0.1rem;
  margin-bottom: 2rem;
}

.admin-login {
  height: 100vh;
  position: relative;
}
.admin-login__wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border: 3px solid #197278;
  border-radius: 8px;
}
.admin-login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.admin-login__form-container-input {
  display: block;
}

.event {
  padding: 5rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .event {
    padding: 5rem 1rem;
  }
}
.event__container-title {
  margin-bottom: 2rem;
}
.event__container-image {
  width: 80%;
  margin: 5rem auto;
}
.event__image {
  width: 100%;
  height: 100%;
}
.event__card-article {
  margin: 5rem auto;
}

.events {
  padding: 5rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .events {
    padding: 5rem 1rem;
  }
}
.events__container-title {
  text-align: center;
  margin-bottom: 5rem;
}
.events__container-form {
  padding: 2rem;
  margin-bottom: 5rem;
  border: 2px solid #197278;
  border-radius: 5px;
}
.events__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events__form-container-search {
  margin-bottom: 2rem;
}
.events__container-result-info {
  text-align: center;
  margin-bottom: 5rem;
}
.events__card-article {
  margin-bottom: 5rem;
}

.home {
  padding: 5rem;
}
@media only screen and (max-width: 767px) {
  .home {
    padding: 5rem 1rem;
  }
}
.home__container-section {
  margin-bottom: 5rem;
}
.home__container-title {
  text-align: center;
  margin-bottom: 5rem;
}
.home__card-article {
  margin-bottom: 5rem;
}
.home__container-no-found {
  text-align: center;
  margin-bottom: 5rem;
}
.home__container-button {
  text-align: center;
  padding-bottom: 5rem;
}

.news {
  padding: 5rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .news {
    padding: 5rem 1rem;
  }
}
.news__container-title {
  text-align: center;
  margin-bottom: 5rem;
}
.news__container-form {
  padding: 2rem;
  margin-bottom: 5rem;
  border: 2px solid #197278;
  border-radius: 5px;
}
.news__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__form-container-search {
  margin-bottom: 2rem;
}
.news__container-result-info {
  text-align: center;
  margin-bottom: 5rem;
}
.news__card-article {
  margin-bottom: 5rem;
}

.new {
  padding: 5rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .new {
    padding: 5rem 1rem;
  }
}
.new__container-title {
  margin-bottom: 2rem;
}
.new__container-image {
  width: 80%;
  margin: 5rem auto;
}
.new__image {
  width: 100%;
  height: 100%;
}
.new__card-article {
  margin: 5rem auto;
}

.sagra {
  padding: 5rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .sagra {
    padding: 5rem 1rem;
  }
}
.sagra__container-title {
  margin-bottom: 2rem;
}
.sagra__container-image {
  width: 80%;
  margin: 5rem auto;
}
.sagra__image {
  width: 100%;
  height: 100%;
}
.sagra__card-article {
  margin: 5rem auto;
}

.sagre {
  padding: 5rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .sagre {
    padding: 5rem 1rem;
  }
}
.sagre__container-title {
  text-align: center;
  margin-bottom: 5rem;
}
.sagre__container-form {
  padding: 2rem;
  margin-bottom: 5rem;
  border: 2px solid #197278;
  border-radius: 5px;
}
.sagre__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sagre__form-container-search {
  margin-bottom: 2rem;
}
.sagre__container-result-info {
  text-align: center;
  margin-bottom: 5rem;
}
.sagre__card-article {
  margin-bottom: 5rem;
}

/*# sourceMappingURL=main.css.map */
