<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>{{template "title" .}}</title>
    {{template "description" .}}
</head>
<body>
    <header class="header">
        <div class="header__container-nav">
            <nav class="nav">
                <div class="nav__wrapper">
                    <label for="nav menu" aria-label="nav menu"></label>
                    <input id="nav menu" name="nav menu" class="nav__input" type="checkbox" aria-label="nav menu" />
                    <span class="nav__span"></span>
                    <span class="nav__span"></span>
                    <span class="nav__span"></span>
                    <ul class="nav__menu">
                        <li class="nav__menu-item"><a class='link-no p-lg link-effect-load {{ if and (eq .CurrentUrl "/") }} link-mark {{ end }}' href="/">Home</a></li>
                        <li class="nav__menu-item"><a class='link-no p-lg link-effect-load {{ if and (eq .CurrentUrl "/sagre") }} link-mark {{ end }}' href="/sagre">Sagre</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header__container-title">
            <h1 class="h1">Eventi Vicino A Me</h1>
            <h2 class="h2">{{.PageTitle}}</h2>
        </div>
    </header>
    <main class="main">
        <div class="main__container-content">{{template "content" .}}</div>
        <aside class="main__container-sidebar"></aside>
    </main>
    <footer class="footer">
        <div class="footer__container-content">
            <p class="p">Made with <span class="footer__heart">&hearts;</span>, in London - &copy; {{.CurrentYear}} - All rights reserved</p>
        </div>
    </footer>
</body>
</html>