<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>{{template "title" .}}</title>
    {{template "description" .}}
    <link rel="icon" type="image/x-icon" href="/public/images/eventi-vicino-a-me-logo.png" >

    <script type="module" src="/public/js/main.js" defer></script>

    <!-- Google Search Console -->
    <meta name="google-site-verification" content="6lnvqc2nX5KxI1kmF_34bktx7kCrMWrBulMoJJeVHQ8" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MDNVLCW854"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MDNVLCW854');
    </script>
</head>
<body>
    <header class="header">
        <div class="header__container-nav">
            <nav class="nav">
                <div class="nav__wrapper">
                    <label for="nav menu" aria-label="nav menu"></label>
                    <input id="nav menu" name="nav menu" class="nav__input" type="checkbox" aria-label="nav menu" />
                    <span class="nav__span"></span>
                    <span class="nav__span"></span>
                    <span class="nav__span"></span>
                    <ul class="nav__menu">
                        <li class="nav__menu-item"><a class='link-no p-lg link-effect-load {{ if and (eq .CurrentUrl "/") }} link-mark {{ end }}' href="/">Home</a></li>
                        <li class="nav__menu-item"><a class='link-no p-lg link-effect-load {{ if and (eq .CurrentUrl "/sagre") }} link-mark {{ end }}' href="/sagre">Sagre</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header__container-title">
            <h1 class="h1">Eventi Vicino A Me</h1>
            <h2 class="h2">{{.PageTitle}}</h2>
            <img class="header__logo" src="/public/images/eventi-vicino-a-me-logo.png" alt="Ape, il logo ufficiale di Eventi Vicino A Me" />
        </div>
    </header>
    <main class="main">
        <div class="main__container-content">{{template "content" .}}</div>
        <aside class="main__container-sidebar"></aside>
    </main>
    <footer class="footer">
        <div>
            <img class="footer__logo" src="/public/images/eventi-vicino-a-me-logo.png" alt="Ape, il logo ufficiale di Eventi Vicino A Me" />
        </div>
        <div class="footer__container-content">
            <p class="p">Made with <span class="footer__heart">&hearts;</span>, in London - &copy; {{.CurrentYear}} - All rights reserved</p>
        </div>
    </footer>
    <div id="cookie-banner-component" class="cookie-banner">
        <div class="cookie-banner__container-logo">
            <img class="cookie-banner__logo" src="/public/images/eventi-vicino-a-me-logo.png" alt="Logo Eventi Vicino A Me, una ape che vola">
            <h4 class="h4">Ci teniamo alla tua privacy</h4>
        </div>
        <div class="cookie-banner__container-content">
            <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem corrupti a inventore aperiam earum, nemo incidunt laudantium, quos cum, adipisci odit rem repellat nihil voluptas mollitia cumque neque tenetur. Aperiam!</p>
        </div>
        <div class="cookie-banner__container-buttons">
            <button id="cookie-banner-button-acept" class="cookie-banner__button button">Accetta</button>
            <a id="cookie-banner-button-discover" class="cookie-banner__button button" href="#">Scopri di più</a>
            <button id="cookie-banner-button-reject" class="cookie-banner__button button">Rifiuta</button>
        </div>
    </div>
</body>
</html>