{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{define "structure"}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.eventivicinoame.com/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "{{.Sagra.Title}}",
            "item": "https://www.eventivicinoame.com/sagra/{{.Sagra.Url}}"
        }]
    }
</script>
{{end}}

{{define "breadcrumb"}}
<ol class="breadcrumb__menu">
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/">Home</a> /</li>
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/sagra/{{.Sagra.Url}}">{{.Sagra.Title}}</a></li>
</ol>
{{end}}

{{ define "content"}}
<div class="sagra">
    {{ if .Sagra }}
        <div class="sagra__container-title">
            <h1 class="h1">{{ .Sagra.Title }}</h2>
        </div>
        <div class="content">
            {{ .SagraContentRaw }}
        </div>
        <div class="sagra__container-image">
            <img loading="lazy" class="sagra__image" src="/public/images/{{ .Sagra.ImageUrl }}" alt="{{ .Sagra.ImageAlt }}">
        </div>
        <div>
            <h2 class="h4">Articolo scritto da</h2>
        </div>
        <div class="author-card sagra__card-article">
            <a class="link-no" href="/author/{{ .Sagra.AuthorUrl }}">
                <div class="author-card__wrapper">
                    <div class="author-card__container-image">
                        <img loading="lazy" class="author-card__image" src="/public/images/{{ .Sagra.AuthorImageUrl }}" alt="Foto autore {{ .Sagra.AuthorName }} {{ .Sagra.AuthorSurname }}">
                    </div>
                    <div class="author-card__container-content">
                        <h2 class="author-card__title h3">{{ .Sagra.AuthorName }} {{ .Sagra.AuthorSurname }}</h2>
                        <p class="h4">{{ .Sagra.AuthorDescription }}</p>
                    </div>
                </div>
            </a>
        </div>
    {{ else }}
        <h4>Sagra no found</h4>
    {{ end }}
</div>
{{end}}