.admin-news-delete {
    &__container-title {
        margin-bottom: 5rem;
    }

    &__container-data {
        margin-bottom: 5rem;
    }

    &__container-form {
        margin-bottom: 2rem;
    }
}