.home {
    padding: 5rem;

    @include respond("md") {
        padding: 5rem 1rem;
    }

    &__container-title {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__card-article {
        margin-bottom: 5rem;
    }

    &__container-no-found {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__container-button {
        text-align: center;
    }
}