{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{ define "content"}}
<div class="page">
    <h1>Chi Siamo</h1>
    <p>Eventi Vicino a Me è un magazine online nato dalla passione per l'Italia e dal desiderio di farla conoscere attraverso i suoi sapori, costumi, tradizioni e gli innumerevoli eventi che animano ogni angolo della Penisola.</p>
    <p>Ogni giorno, l'Italia offre un'incredibile varietà di appuntamenti che meritano di essere scoperti. Eventi Vicino a Me si impegna a dare voce a queste esperienze uniche, attraverso contenuti di qualità scritti con cura dalla nostra redazione di professionisti.</p>
    <p>Sei un organizzatore di eventi? Vuoi condividere la tua passione con il mondo? Contattaci all'indirizzo <a class="link-effect-load" href="mailto:info@marcovaleri.net">info@marcovaleri.net</a> e raccontaci la tua storia.</p>
    <p>Ti auguriamo una buona navigazione alla scoperta delle meraviglie dell'Italia.</p>
</div>
{{end}}