{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{define "structure"}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.eventivicinoame.com/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "{{.PageTitle}}",
            "item": "https://www.eventivicinoame.com/page/contatti"
        }]
    }
</script>
{{end}}

{{define "breadcrumb"}}
<ol class="breadcrumb__menu">
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/">Home</a> /</li>
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/page/contatti">{{.PageTitle}}</a></li>
</ol>
{{end}}

{{ define "content"}}
<div class="page">
    <h1>Contatti</h1>
    <p>Abbiamo voglia di ascoltarti.</p>
    <p>Se hai domande, suggerimenti, vuoi segnalare un evento o semplicemente condividere la tua passione per l'Italia, non esitare a scriverci.</p>
    <p><strong>Email:</strong> <a class="link-effect-load" href="mailto:info@marcovaleri.net">info@marcovaleri.net</a>.</p>
    <p>Non vediamo l'ora di sentirti.</p>
</div>
{{end}}