{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{define "structure"}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.eventivicinoame.com/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "{{.PageTitle}}",
            "item": "https://www.eventivicinoame.com/page/privacy-policy"
        }]
    }
</script>
{{end}}

{{define "breadcrumb"}}
<ol class="breadcrumb__menu">
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/">Home</a> /</li>
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/page/privacy-policy">{{.PageTitle}}</a></li>
</ol>
{{end}}

{{ define "content"}}
<div class="page">
    <h1>Privacy Policy di eventivicinoame.com</h1>
    <h2>Introduzione</h2>
    <p>Questa Privacy Policy descrive come raccogliamo e utilizziamo le informazioni durante la tua visita e utilizzo del nostro sito web eventivicinoame.com. Ci impegniamo a rispettare la tua privacy e a trattare i tuoi dati in modo responsabile e conforme alle leggi sulla protezione dei dati applicabili.</p>
    <h2>Informazioni che raccogliamo</h2>
    <ul>
        <li><strong>Dati di navigazione:</strong> quando visiti il nostro sito, raccogliamo automaticamente alcune informazioni sul tuo dispositivo e sulla tua navigazione, come l'indirizzo IP, il tipo di browser, il sistema operativo, le pagine visitate e la durata della visita. Queste informazioni vengono raccolte tramite cookie e tecnologie simili (vedi la nostra Cookie Policy per maggiori dettagli).</li>
        <li><strong>Non raccogliamo dati personali identificativi: non raccogliamo né conserviamo informazioni personali che ti identifichino direttamente, come nome, indirizzo email o numero di telefono.</strong></li>
    </ul>
    <h2>Come utilizziamo le tue informazioni</h2>
    <p>Utilizziamo le informazioni raccolte per le seguenti finalità:</p>
    <ul>
        <li><strong>Fornire e migliorare il nostro sito:</strong> utilizziamo i dati raccolti per gestire, mantenere e migliorare il nostro sito, personalizzare i contenuti e l'esperienza dell'utente, analizzare l'utilizzo del sito e diagnosticare eventuali problemi tecnici.</li>
        <li><strong>Rispettare gli obblighi di legge:</strong> potremmo trattare i tuoi dati per adempiere a obblighi di legge, regolamenti o richieste delle autorità competenti.</li>
    </ul>
    <h2>Condivisione delle tue informazioni</h2>
    <p>Potremmo condividere le informazioni raccolte con:</p>
    <ul>
        <li><strong>Fornitori di servizi:</strong> potremmo condividere dati anonimi e aggregati con fornitori di servizi terzi che ci aiutano a gestire il sito e fornire i nostri servizi, come servizi di hosting, analisi dei dati e assistenza clienti. Questi fornitori sono autorizzati a utilizzare i tuoi dati solo per le finalità specifiche per cui sono stati condivisi e sono tenuti a proteggere la tua privacy.</li>
        <li><strong>Autorità competenti:</strong> potremmo condividere i dati raccolti con le autorità competenti se richiesto dalla legge o se riteniamo in buona fede che tale condivisione sia necessaria per proteggere i nostri diritti, la tua sicurezza o la sicurezza di altri.</li>
    </ul>
    <h2>Sicurezza dei tuoi dati</h2>
    <p>Adottiamo misure di sicurezza adeguate per proteggere le informazioni raccolte da accessi non autorizzati, divulgazione, alterazione o distruzione. Tuttavia, nessun metodo di trasmissione o archiviazione elettronica è completamente sicuro, pertanto non possiamo garantire la sicurezza assoluta dei tuoi dati.</p>
    <h2>I tuoi diritti</h2>
    <p>Poiché non raccogliamo dati personali identificativi, non è possibile esercitare i diritti di accesso, rettifica, cancellazione, limitazione, opposizione o portabilità dei dati.</p>
    <h2>Modifiche alla Privacy Policy</h2>
    <p>Potremmo aggiornare questa Privacy Policy periodicamente. Ti invitiamo a controllare questa pagina regolarmente per essere informato su eventuali modifiche.</p>
    <h2>Contatti</h2>
    <p>Se hai domande sulla nostra Privacy Policy, puoi contattarci tramite la sezione "Contatti" del sito.</p>
</div>
{{end}}