{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{define "structure"}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.eventivicinoame.com/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "{{.PageTitle}}",
            "item": "https://www.eventivicinoame.com/page/privacy-policy"
        }]
    }
</script>
{{end}}

{{define "breadcrumb"}}
<ol class="breadcrumb__menu">
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/">Home</a> /</li>
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/page/privacy-policy">{{.PageTitle}}</a></li>
</ol>
{{end}}

{{ define "content"}}
<div class="page">
    <h1>Privacy Policy di eventivicinoame.com</h1>
    <span id="ezoic-privacy-policy-embed"></span>
    <!-- <script id="CookieDeclaration" src="https://consent.cookiebot.com/1d95189f-8d70-46c4-b094-4246addb9866/cd.js" type="text/javascript" async></script> -->
</div>
{{end}}