/*
* This container has the rules
* for the html content showed in:
*       1 - sagre
*/
.content {

    &__index {
        width: 80%;
        padding: 5rem;
        margin: 5rem auto;
        border: 1px solid $greenEVM;
        border-radius: 8px;

        @include respond("md") {
            width: auto;
            padding: 5rem 2rem;
        }
    }

    &__container-map {
        width: 80%;
        margin: 5rem auto;

        iframe {
            width: 100%;
        }
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    
    h2 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    
    h3 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    h4 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 2rem;
        line-height: normal;
    }

    a {
        color: $greenEVM;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ul, ol {
        margin-top: 1rem;
        margin-left: 3rem;
    }

    li {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        margin: 2rem auto;
    }
}