.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5rem;
    
    &__container-content {
        text-align: center;
    }

    &__heart {
        font-size: 2rem;
        color: #d00;
    }
}