.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5rem;
    border-top: 3px solid $greenEVM;
    border-bottom: 3px solid $greenEVM;
    
    &__container-content {
        text-align: center;
    }

    &__heart {
        font-size: 2rem;
        color: #d00;
    }
}