.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    border-top: 3px solid $greenEVM;
    border-bottom: 3px solid $greenEVM;

    &__logo {
        width: 20rem;
    }
    
    &__container-content {
        text-align: center;
    }

    &__link-cookie-policy {
        margin-right: 2rem;
    }

    &__link-privacy-policy {
        margin-left: 2rem;
    }

    &__heart {
        font-size: 2rem;
        color: #d00;
    }
}