.header {
    height: auto;
    min-height: 30vh;
    overflow: hidden;
    border-bottom: 3px solid $greenEVM;

    @include respond("md") {
        min-height: 50vh;
    }

    &__container-nav {}

    &__container-title {
        text-align: center;
        margin: 5rem auto;

        @include respond("md") {
            margin: 5rem auto;
        }
    }

    &__logo {
        width: 20rem;
        height: 15rem;
    }
}