.header {
    height: 30vh;
    overflow: hidden;
    border-bottom: 3px solid $greenEVM;

    @include respond("md") {
        height: 40vh;
    }

    &__container-title {
        text-align: center;
        margin: 5rem auto;

        @include respond("md") {
            margin: 5rem auto;
        }
    }
}