.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main__container-content main__container-sidebar";

    @include respond("lg") {
        grid-template-columns: 1fr;
        grid-template-areas:
                            "main__container-content"
                            "main__container-sidebar";
    }

    &__container-content {
        grid-area: main__container-content;
    }

    &__container-sidebar {
        grid-area: main__container-sidebar;
        padding: 2rem;
        border-left: 3px solid $greenEVM;

        @include respond("lg") {
            border: none;
        }
    }
}