{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{define "structure"}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.eventivicinoame.com/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "{{.PageTitle}}",
            "item": "https://www.eventivicinoame.com/author/{{.Author.Url}}"
        }]
    }
</script>
{{end}}

{{define "breadcrumb"}}
<ol class="breadcrumb__menu">
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/">Home</a> /</li>
    <li class="breadcrumb__menu-list"><a class="link-content p" href="https://www.eventivicinoame.com/author/{{.Author.Url}}">Autore {{ .AuthorRowName }} {{ .AuthorRowSurname }}</a></li>
</ol>
{{end}}

{{ define "content"}}
<div class="page">
    <h1>{{ .AuthorRowName }} {{ .AuthorRowSurname }}</h1>
    <p>{{ .AuthorRowDescription }}</p>
    <div class="sagra__container-image">
        <img loading="lazy" class="sagra__image" src="/public/images/{{ .Author.ImageUrl }}" alt="Foto dell'autore {{ .AuthorRowName }} {{ .AuthorRowSurname }}">
    </div>
</div>
{{end}}